<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Reset Password</title>
</head>
<body>
    <h1>Password Recovery</h1>
    <form action="{{ url_for('reset_password', token=token, _external=True) }}" method="post">

        {% if error_new_mdp %}
            <p class="error">{{ error_new_mdp }}</p>
        {% endif %}

        <label for="NewPass">New password</label>
        <input type="password" id="password" name="password" required><br>

        {% if error_confirm_mdp %}
            <p class="error">{{ error_confirm_mdp }}</p>
        {% endif %}
        
        <label for="confirm_paswd">Confirm the password</label>
        <input type="password" id="confirm_paswd" name="confirm_paswd" required><br>


        <input type="submit" value="Enregistrer le nouveau mot de passe"><br>

    </form>
</body>
</html>