<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Recovery</title>
</head>
<body>
    <h1>Recovery</h1>
    
    <form action="/recovery" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required><br>

        <input type="submit" value="Envoyer"><br>

        <a href="{{ url_for('login') }}">Se connecter</a>

    </form>

</body>
</html>